.container{
    background-color: aliceblue;
}



.form{
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start
}

.input-car-year{

    display: flex;
    justify-content: right;

}

.input-car-year  input{
    width: 10% ;
    border-radius: 10%;
    border-bottom: burlywood;
    outline: none;
}

#sub{
    width: 50%;
}

.insuranceKind{
    display: flex;
    float: unset;
}

*{
    direction: rtl;
}